In [9]:
%matplotlib inline

In [10]:
import pandas as pd
import numpy as np
from sys import stdout
import os, glob
from scipy.signal import detrend
from scipy import arctan2
import functions as f

In [11]:
import matplotlib.pyplot as plt

In [12]:
path_to_csvs   = "/Volumes/pdoubraw/repos/jet/data/TTU 200 m tower data/"
path_to_csvs   = "C:\\Users\\krydalch\\Desktop\\MetMastData\\TTU tall tower\\"
filepaths_dict = f.get_file_paths(path_to_csvs, day=17)

In [13]:
height_feet_dict, height_meters_dict, header_names_dict, unique_heights, unique_heights_all = f.get_file_headers(path_to_csvs)

In [14]:
year   = 2017 
month  = 2
day    = 17
hour   = 18
minute = int('00')

In [15]:
desired_start = pd.Timestamp(year=year,month=month,day=day,hour=hour,minute=minute)
desired_end   = desired_start + pd.Timedelta('10min')
timestamp_in_filename = desired_start.floor('30min')
print(timestamp_in_filename)

2017-02-17 18:00:00

In [16]:
filenames = sorted(glob.glob(os.path.join(path_to_csvs,'*{0:%Y%m%d}_T{0:%H%M}*'.format(timestamp_in_filename))))

# actual i/o

In [19]:
perturbations = {}
# Get Cosine Angles for each height 
cosAngles, boom_azm_deg, boom_vert_deg =f.get_boom_tower_angles(path_to_csvs) 


for filepath in filenames:

    group = int(os.path.split(filepath)[-1].split('TR_D')[-1].split('.csv')[0])

    print(filepath)

    df           = f.csv_to_df(filepath, header_names_dict[group])  
    subdf        = f.subset_df(df)
    df_dict      = f.df_to_df_dict(subdf)

    df_dict_rot  = f.rotate_df_dict(df_dict,cosAngles)
    df_dict_pert = f.compute_perturbations(df_dict_rot)

    for height in df_dict_pert.keys():

        perturbations[height] = df_dict_pert[height].loc[desired_start:desired_end].copy()

desired_index = pd.DatetimeIndex(start=desired_start, end=desired_end, freq='20ms').tz_localize('UTC')

for height in perturbations.keys():
    perturbations[height] = perturbations[height].reindex(desired_index).interpolate(method='index').iloc[0:30000].copy()  
    
print('Done!')

C:\Users\krydalch\Desktop\MetMastData\TTU tall tower\FT2_E07_C04_R27892_D20170217_T1800_TR_D01.csv

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

# decide which key (distance above ground) we want

In [48]:
keys_feet = np.sort(list(perturbations.keys()))

In [49]:
keys_meters = np.sort(np.round([v*0.3048 for v in keys_feet],1))

In [50]:
keys_feet

array([  3.,   8.,  13.,  33.,  55., 155., 382., 519., 656.])

In [51]:
keys_meters

array([  0.9,   2.4,   4. ,  10.1,  16.8,  47.2, 116.4, 158.2, 199.9])

# grab subset of data desired

In [75]:
subset = perturbations[382][['U','V','W']]
subset.head()

                                         U         V         W
2017-02-17 18:00:00+00:00        -7.242492 -4.669800  0.455504
2017-02-17 18:00:00.020000+00:00 -7.235864 -4.695993  0.486649
2017-02-17 18:00:00.040000+00:00 -7.280556 -4.626015  0.532536
2017-02-17 18:00:00.060000+00:00 -7.155142 -4.534457  0.595691
2017-02-17 18:00:00.080000+00:00 -7.039852 -4.505760  0.640242

### rotate so that u is the main component

In [76]:
sonic_yaw   = np.arctan2(subset.V.mean(),subset.U.mean())
u1          = subset.U*np.cos(sonic_yaw)+subset.V*np.sin(sonic_yaw)
v1          = -subset.U*np.sin(sonic_yaw)+subset.V*np.cos(sonic_yaw)
w1          = subset.W.copy()

sonic_pitch = np.arctan2(w1.mean(),u1.mean())
u2          = u1*np.cos(sonic_pitch)+w1*np.sin(sonic_pitch)
v2          = v1.copy()
w2          = -u1*np.sin(sonic_pitch)+w1*np.cos(sonic_pitch)

print("PITCH: rotate by {0:.4f} deg".format(np.degrees(sonic_pitch)))
print("YAW: rotate by {0:.4f} deg".format(np.degrees(sonic_yaw)))

PITCH: rotate by 0.0307 deg
YAW: rotate by -144.7018 deg

In [77]:
subset.loc[:,'U'] = u2.copy()
subset.loc[:,'V'] = v2.copy()
subset.loc[:,'W'] = w2.copy()

### resample to same time step of turbsim simulations

In [78]:
subset = subset.resample('50ms').mean()
subset.head()

                                         U         V         W
2017-02-17 18:00:00+00:00         8.614786 -0.384506  0.486953
2017-02-17 18:00:00.050000+00:00  8.404855 -0.412054  0.613469
2017-02-17 18:00:00.100000+00:00  8.255492 -0.312492  0.611717
2017-02-17 18:00:00.150000+00:00  8.057799 -0.395673  0.381232
2017-02-17 18:00:00.200000+00:00  8.143530  0.037558  0.378368

In [60]:
subset.index = (subset.index-subset.index[0]).total_seconds()

In [61]:
subset

               U         V         W
0.00    8.614786 -0.384506  0.486953
0.05    8.404855 -0.412054  0.613469
0.10    8.255492 -0.312492  0.611717
0.15    8.057799 -0.395673  0.381232
0.20    8.143530  0.037558  0.378368
0.25    8.383487  0.276460  0.594283
0.30    8.610151  0.190134  0.546684
0.35    8.958748  0.004532  0.367888
0.40    9.014030  0.632273  0.287209
0.45    9.110663  1.188689  0.485760
0.50    9.537588  1.288195  0.413476
0.55    9.579856  1.244495  0.343568
0.60    9.560114  1.326079  0.341507
0.65    9.568921  1.265707  0.455060
0.70    9.459799  1.243067  0.342678
0.75    9.422198  1.395613  0.254507
0.80    9.479781  1.360303  0.411726
0.85    9.467538  1.176511  0.547744
0.90    9.592462  1.123134  0.510656
0.95    9.350895  1.132328  0.332587
1.00    9.173957  1.181217  0.448992
1.05    9.088009  1.108295  0.702437
1.10    8.984859  1.131188  0.894407
1.15    8.780584  1.311811  0.919683
1.20    8.705359  1.395858  1.007383
1.25    8.665153  1.707855  0.546889
1.30    8.923156  1.583285  0.615179
1.35    9.050635  1.524267  0.629493
1.40    8.998868  1.603264  0.594586
1.45    8.791236  1.596542  0.823949
...          ...       ...       ...
598.50  8.032107 -1.356649  2.776062
598.55  8.250603 -1.632720  2.602018
598.60  8.270421 -1.569245  2.816864
598.65  8.106941 -1.524451  2.866005
598.70  7.976790 -1.583625  2.755522
598.75  7.848074 -1.835316  2.760290
598.80  8.065525 -1.746874  2.551621
598.85  8.150282 -1.688637  2.526131
598.90  8.118584 -1.317183  2.345613
598.95  8.067879 -0.904110  1.822105
599.00  8.040379 -1.148992  2.132238
599.05  8.184854 -1.041253  1.992865
599.10  8.126476 -0.802977  2.098168
599.15  8.142198 -0.819250  2.035238
599.20  7.979891 -0.706810  1.842459
599.25  8.028542 -0.779102  1.834376
599.30  7.879760 -0.827455  1.791611
599.35  7.949314 -0.866063  1.706370
599.40  7.781631 -0.779124  1.792823
599.45  7.754841 -0.845599  1.811663
599.50  7.585944 -0.804203  1.782289
599.55  7.716239 -0.755481  1.762029
599.60  7.830214 -0.861968  1.714090
599.65  7.794828 -0.868279  1.594323
599.70  7.850544 -0.645440  1.564565
599.75  8.201926 -0.517187  1.508701
599.80  8.214909 -0.690220  1.461127
599.85  8.160702 -1.087843  1.289892
599.90  7.967282 -0.902087  1.228403
599.95  8.154973 -0.667422  1.126373

[12000 rows x 3 columns]

### save for turbsim

In [37]:
fout = "../TIMESR_{0:%Y-%m-%d_%H-%M}_ROT.txt".format(desired_start)
subset.to_csv(fout,sep="\t",line_terminator='\n',float_format="%5.2f")

In [38]:
fout

'../TIMESR_2017-02-17_18-00_ROT.txt'